[D-BUS Service]
Name=com.deepin.dde.daemon.GrandSearch
Exec=/usr/bin/dbus-send --print-reply --session --dest=com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.Launch string:/usr/share/applications/dde-grand-search-daemon.desktop
