[Desktop Entry]
Version=1.0
Name=Grand Search Deamon
Comment=Start the dde-grand-search-daemon
Exec=/usr/bin/dde-grand-search-daemon
OnlyShowIn=''
Terminal=false
Type=Application
X-GNOME-Autostart-Delay=30
