Source: dde-grand-search
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 qt6-base-dev | qtbase5-dev,
 qt6-5compat-dev | hello,
 libdtk6widget-dev | libdtkwidget-dev,
 libdtk6core-dev | libdtkcore-dev,
 libdtk6gui-dev | libdtkgui-dev,
 libdtk6core-bin | libdtkcore5-bin,
 libdtk6declarative-dev | hello,
 libdfm6-search-dev | libdfm-search-dev,
 qt6-tools-dev-tools | qttools5-dev-tools,
 qt6-declarative-dev | hello,
 cmake,
 dde-tray-loader-dev | dde-dock-dev,
 libglib2.0-dev,
 libffmpegthumbnailer-dev,
 libavformat-dev,
 libavcodec-dev,
 libtag1-dev,
 libicu-dev,
 libdeepin-pdfium-dev,
 libjpeg62-turbo-dev,
 liblucene++-dev,
 libboost-dev,
 libdeepin-service-framework-dev (>1.0.9),
 libdde-shell-dev | hello,
 deepin-desktop-base
Standards-Version: 3.9.8
Homepage: http://www.deepin.org/

Package: dde-grand-search
Architecture: any
Replaces: dde-shell (<=1.99.30)
Depends: ${shlibs:Depends}, ${misc:Depends},
Recommends:
 deepin-desktop-schemas (>=5.8.0.34),
 dde-daemon (>=5.12.0.31),
 startdde (>=5.6.0.34),
 deepin-anything-server[i386 amd64]
Description: deepin desktop-environment - search module
 Search module of deepin desktop-environment
